<a href="#Play">
    <div class='logo-container row'>
        <div class='small-12 columns'>
            <img src='Images/logo_big.png' alt=''/>
            <h1>Вход</h1>
        </div>
    </div>
</a>