<style>
    .start-game-unit {
        display: inline-block;
        min-width: 300px;
        padding: 30px !important;
        margin: 20px !important;
        text-align: left !important;
        width: 450px;
        min-height: 300px;
        position: relative;
    }

        .start-game-unit .game-name {
            font-size: 1.8em;
        }

        .start-game-unit .game-description {
            padding: 10px 0;
            min-height: 100px;
        }

        .start-game-unit .start-playing-button {
            position: absolute;
            bottom: 0px;
            right: 20px;
        }
</style>

<section>
    <div class='row'>
        <div class='columns small-12 large-6'>
            <div class='start-game-unit shadowed'>
                <div class='game-name'>TITLE</div>
                <div class='game-description'>DESCRIPTION</div>
                <button class='start-playing-button' name='main' data-loading-text='$IDS_LOADING' onclick="Brainer.Views.Play.startGame(this)">START PLAYING</button>
            </div>
        </div>
        <div class='columns small-12 large-6'>
            <div class='start-game-unit shadowed'>
                <div class='game-name'>TITLE</div>
                <div class='game-description'>DESCRIPTION</div>
                <button class='start-playing-button' name='main' data-loading-text='$IDS_LOADING'>START PLAYING</button>
            </div>
        </div>
        <div class='columns small-12 large-6'>
            <div class='start-game-unit shadowed'>
                <div class='game-name'>TITLE</div>
                <div class='game-description'>DESCRIPTION</div>
                <button class='start-playing-button' name='main' data-loading-text='$IDS_LOADING'>START PLAYING</button>
            </div>
        </div>
        <div class='columns small-12 large-6'>
            <div class='start-game-unit shadowed'>
                <div class='game-name'>TITLE</div>
                <div class='game-description'>DESCRIPTION</div>
                <button class='start-playing-button' name='main' data-loading-text='$IDS_LOADING'>START PLAYING</button>
            </div>
        </div>
        <div class='columns small-12 large-6'>
            <div class='start-game-unit shadowed'>
                <div class='game-name'>TITLE</div>
                <div class='game-description'>DESCRIPTION</div>
                <button class='start-playing-button' name='main' data-loading-text='$IDS_LOADING'>START PLAYING</button>
            </div>
        </div>
        <div class='columns small-12 large-6'>
            <div class='start-game-unit shadowed'>
                <div class='game-name'>TITLE</div>
                <div class='game-description'>DESCRIPTION</div>
                <button class='start-playing-button' name='main' data-loading-text='$IDS_LOADING'>START PLAYING</button>
            </div>
        </div>
    </div>
</section>